<!DOCTYPE html>
<html>
<head>
    <title>KNUmap</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=vm7h6uk881"></script><!--네이버 api-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=vm7h6uk881&submodules=panorama"></script><!--네이버 파노라마 서브api-->
    <script type="text/javascript" src="/data/data.js"></script><!--data-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
   
</head>
<body>
    <div id="banner">KNU MAP</div>
    <div id="box">
        <p><b>Date</b></p>
        <p id="time1"></p>
        <p id="time2"></p>
    </div>
    <div id="map"></div>
    <div id="pano"></div>
    <div id="current">현위치</div>

    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(35.88881288743205, 128.61029197352346),//경북대학교 gps
            zoom: 17
        };
        var map = new naver.maps.Map('map', mapOptions);//맵 생성
        var markerList =[];//마커들
        var infowindowList =[];// 마커 클릭시 인포메이션

       for(var i in data) 
       {
           var target =data[i];
           var latlng =new naver.maps.LatLng(target.lat, target.lng);
           content= "<div class='marker'></div>"
           if(target.title=="길"){
                      content= "<div class='roadmarker'></div>"
           }
           if(target.rest==1){
            content= "<div class='restmarker'></div>"
           }
                
           
           marker = new naver.maps.Marker({
               map:map,
               position: latlng,
               icon:{
                   content: content,
                   anchor : new naver.maps.Point(20,20)
               },
           });
           //infowindow 내용
           if(target.title=="길"){
            var content =`<div class='infowindow_wrap'>
                <div class='infowindow_title'>${target.title}</div>
                <div class='infowindow_content'>${target.content}</div>
                <div class='infowindow_img'><img class=imgs src=${target.img}></div>
                </div>`
            }
            else{
                var content =`<div class='infowindow_wrap'>
                <div class='infowindow_title'>${target.title}</div>
                <div class='infowindow_content'>${target.content}</div>
                </div>`

            }
            //infowindow 디자인
            var infowindow = new naver.maps.InfoWindow({
                content:content,
                backgroundColor: "#00ff0000",
                borderColor: "#00ff0000",
                anchorSize: new naver.maps.Size(0,0)
            })
            //마커와 인포메이션 매칭
            markerList.push(marker);
            infowindowList.push(infowindow);
        }
        //클릭이벤트 추가
    for(var i =0, ii=markerList.length; i<ii; i++){
        naver.maps.Event.addListener(map,"click",ClickMap(i));
        naver.maps.Event.addListener(markerList[i], "click", getClickHandler(i));
    }
    //맵 클릭시 info 닫음
    function ClickMap(i){
        return function(){
            var infowindow =infowindowList[i];
            infowindow.close();
        }
    }
    //마커 클릭시 해당하는 info 열기
    function getClickHandler(i){
        return function(){
            var marker =markerList[i];
            var infowindow= infowindowList[i];
            if(infowindow.getMap())//열려있을떄
            {
                infowindow.close();
            }
            else//닫혀있을떄
            {
                latlng=marker.position;
                pano.setPosition(latlng);
                infowindow.open(map,marker); 
            }
        }
    }
    //피노라마 기능
    var pano = null;
naver.maps.onJSContentLoaded = function() {
    pano = new naver.maps.Panorama("pano", {
        position: new naver.maps.LatLng(35.88881288743205, 128.61029197352346),
        pov: {
            pan: 0,
            tilt: 20,
            fov: 100
        }
    });

    // 파노라마 위치가 갱신시 지도의 중심 위치를 갱신.
    naver.maps.Event.addListener(pano, 'pano_changed', function() {
        var latlng = pano.getPosition();

        if (!latlng.equals(map.getCenter())) {
            map.setCenter(latlng);
        }
    });
};

// 거리뷰 레이어를 생성
var streetLayer = new naver.maps.StreetLayer();
naver.maps.Event.once(map, 'init_stylemap', function() {
    streetLayer.setMap(map);
});


    //지도클릭시 파노라마 위치를 갱신.
naver.maps.Event.addListener(map, 'click', function(e) {
        var latlng = e.coord;
        pano.setPosition(latlng);

});
        //시간
        function timer()
        {
        var today=new Date();
        document.getElementById("time1").innerHTML=today.toLocaleDateString(); 
        document.getElementById("time2").innerHTML=today.toLocaleTimeString();
        setTimeout('timer()',1000);
        }
        timer();

        //현재 위치 확인
        var currentuse= true; // 현재위치 마커 1개만 생성
        $("#current").click(() => {
            if("geolocation" in navigator)
            {
                navigator.geolocation.getCurrentPosition(function (position){
                    const lat = position.coords.latitude;
                    const lng = position.coords.longitude;
                    const latlng = new naver.maps.LatLng(lat,lng);
                    if(currentuse){

                  
                    marker= new naver.maps.Marker(
                        {
                            map: map,
                            position: latlng,
                            icon: {
                                content: "<div class='currentpostion'></div>",
                            }
                        }
                    );
                }
                currentuse=false;
                    map.setZoom(17,false);
                    map.panTo(latlng);
                });
            }
            else{
                alert("위치정보 사용 불가");
            } 
        });
    </script>
</body>

</html>